html{
    font-size: 62.5%;
}
body{
    font-family: 'Orbitron', sans-serif;
    color: white;
    background:url(/images/endless-constellation.svg);
    
}
header{
    text-align: center;
}
header h1{
    font-size:4rem;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.game{
    display: flex;
    margin-top: 5rem;
}
.selection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:1rem;

}
.weapon{
    width: 50px;
    animation-name: weaponsAnimation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    
}
@keyframes weaponsAnimation {
    0%   {transform: scale(1);}
    25%  {transform: scale(1.05);}
    50%  {transform: scale(1);}
    75%  {transform:scale(1.05);}
    100% {transform: scale(1.05);}
  }
.selectBtn{
    margin: 1.5rem;
    border: 1px solid rgba(255, 255, 255, 0.185);
    color: white;
    background-color: rgba(240, 248, 255, 0);
    padding: .8rem;
    transition: all 1s;
    cursor: pointer;
}
.selectBtn:hover{
    transform: scale(1.2);
   
}
footer{
    margin-top: 3rem;
    text-align: center;
}
.logs{
    width: 300px;
    border: 1px solid rgba(255, 255, 255, 0.11);
    padding: 1rem;
}
a{  
    margin-top: 4rem;
    color: white;
    text-decoration: none;
}
a:visited{
    color: white;
    text-decoration: none;
}
.results{
    width: 300px;
    border: 1px solid rgba(255, 255, 255, 0.11);
    padding: 1rem;
}
.result{
    margin-top: 2rem;
}
@media screen and (min-width:1024px) {
    .weapon{
        width: 200px;
    }
    .selection{
        margin: 6rem;
    }
    .selectBtn{
        padding: 2rem 4rem;
        font-size: 2rem;
        margin-top: 4rem;
    }
}